# Files and directories created by pub
.dart_tool/
.packages
build/
.pub-cache/
.pub/

# Directory created by dartdoc
doc/api/

# Avoid committing IDE / OS specific files
.DS_Store
*.swp
*.bak
*.log
.idea/
.vscode/
*.iml
